@font-face {
    font-family: "Roboto-Bold";
    src: url("./assets/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: hsl(234, 29%, 20%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    max-width: 290px;
    align-items: flex-start;
    padding: 50px;
}

.container img{
    height:40px;
    /* padding :20px; */
}

.container h1{
    font-family: Roboto-Bold;
    padding : 20px 0;
    font-size: 2.5rem;
}

.container p{
    font-family: Roboto;
    font-size: 14px;
    margin: 10px 0;
}

#submit{
    display: block;
    width: 100%;
    padding:10px;
    text-align: center;
    height : 50px;
    border-radius: 0.3rem;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-family: Roboto;
    font-size: 14px;
    border:none;
    margin-top : 20px
}

#submit:hover{
    cursor: pointer;
    background-image: linear-gradient(hsl(4, 100%, 64%),hsl(4, 100%, 73%));
    border: none;
}

@media screen and (max-width:375px) {
    .container{
        min-height: 100vh;
        border-radius: 0;
        justify-content: center;
    }


}
